/* based on lab activity week 4*/
/* set every element to use border box model
(I used the lecture demo on fluid grids as a reference)*/
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Week 3 lecture demo on fluid grids was used as a reference */
/* parent flexbox (rows)*/
.box {
    display: flex;
    flex-wrap: wrap;
    /* border:1px red solid; */
    flex: 1 1 auto;
}

/* for stacking content in columns*/
.box-stack {
    flex-direction: column;
    flex: 1 1 auto;
}

/* format text in flexboxes */
.box-text {
    flex: 1;
    padding: 0.5rem;
}

/* format text without flex weight (for product listings page */
.listing-text {
    padding: 0.5rem;
}

/* I used this source for how to center text in the flexboxes
https://love2dev.com/blog/absolute-centering-css/#:~:text=If%20you%20need%20to%20use,horizontally%20align%20text%20using%20CSS.
*/
.box-nav {
    flex: 1;
    padding: 1.5rem;
    justify-content: left;
}

/* align element to right side of box */
.box-right {
    justify-content: flex-end;
}

/* align element baselines */
.box-bottom {
    justify-content: flex-start;
    align-self: baseline;
}

/* give more weight to box title */
.box-title {
    flex: 2;
}


/* make brand imagery grow small amount when page expanded */
.brand-image {
    flex-grow: 0.1;
}

/* make listing/cart images size down when screen smaller than 600px */
@media screen and (min-width:600px) {
    .listing-image {
        padding: 0.5rem;
        max-width: 20rem;
    }
}

/* cart summary alignment and width weighting */
.cart-summary {
    flex: 2;
    align-self: flex-start;
}